/*
 * Slime Attack - Liberated Pixel Cup Contest Entry
 * Copyright (C) 2012 Andrew Giles
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,th,td {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'PressStart2PRegular';
    src: url('fonts/pressstart2p-webfont.eot');
    src: url('fonts/pressstart2p-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pressstart2p-webfont.woff') format('woff'),
         url('fonts/pressstart2p-webfont.ttf') format('truetype'),
         url('fonts/pressstart2p-webfont.svg#PressStart2PRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

img {
    border-style: none;    
}

a {
    text-decoration: none;
    outline: none;
}
a:hover {
    text-decoration: underline;
}

body {
    font-family: helvetica;
	background-color: #95A9A9;
}

h2 {
	padding-top: 50px;
	color: #485D5D;
	font-size: 30px;
	font-family: PressStart2PRegular, sans-serif;
}

h3 {
	margin: 200px 0;
	color: #ff0000;
}

h4 {
	text-align: center;
	margin: 10px auto;
}

#main {
	width: 1000px; height: auto;
	margin: 15px auto;
	position: relative;
	text-align: center;
}

#game {
	width: 800px; height: 576px;
	margin: 0px auto;
	position: relative;
}

#staticCanvas {
	position: absolute;
	top: 0px; left: 0px;
	z-index: 1;
}

#animatedCanvas {
	position: absolute;
	top: 0px; left: 0px;
	z-index: 2;
}

.smallButton {
	width: 71px; height: 20px;
	padding-top: 8px;
	margin: 0 8px;
	display: inline-block;
	color: #ffffff;
	font-size: 10px;
	font-family: PressStart2PRegular, sans-serif;
	text-align: center;
	background: transparent url( '../images/button_small.png' ) no-repeat 0 0;
}
.smallButton:hover {
	background-position: 0 -56px;
	text-decoration: none;
}
.smallButton.disabled {
	background-position: 0 -84px;
	color: #cccccc;
}

.largeButton {
	width: 142px; height: 20px;
	padding-top: 8px;
	display: block;
	margin: 20px auto;
	color: #ffffff;
	font-size: 10px;
	font-family: PressStart2PRegular, sans-serif;
	text-align: center;
	background: transparent url( '../images/button_default.png' ) no-repeat 0 0;
}
.largeButton:hover {
	background-position: 0 -56px;
	text-decoration: none;
}
.largeButton.active {
	background-position: 0 -28px;
}
.largeButton.disabled {
	background-position: 0 -84px;
	color: #cccccc;
}

/* ------ Hud ------ */

#hud {
	position: absolute;
	top: 0; right: 0;
	width: 198px; height: 550px;
	padding: 12px;
	background-color: #95A9A9;
	border: 1px solid #000000;
	text-align: left;
}
#hud hr {
	margin: 10px 0;
}

#controlMenu {
	margin: 0 auto;
	text-align: center;
}

#playerStats {
	font-size: 12px;
	font-family: PressStart2PRegular, sans-serif;
	line-height: 26px;
	color: #485D5D;
	margin-bottom: 20px;
}

#mana {
	width: 100px; height: 10px;
	border: 1px solid #0000ff;
	border-radius: 5px;
	display: inline-block;
	margin-left: 14px;
}
#mana span {
	width: 100px; height: 10px;
	background-color: #0000ff;
	display: block;
}

#coins {
	display: inline-block;
	margin-left: 14px;
	color: #5D4B3F;
}

#alert {
	width: 192px; height: 53px;
	padding-top: 11px;
	position: absolute;
	top: 10px; left: 192px;
	text-align: center;
	background: transparent url( '../images/confirm_bg.png' ) no-repeat 0 0;
	font-size: 12px;
	font-family: PressStart2PRegular, sans-serif;
	color: #ffffff;
	z-index: 3;
}

#level {
	width: 192px; height: 43px;
	padding-top: 21px;
	position: absolute;
	top: 256px; left: 192px;
	text-align: center;
	background: transparent url( '../images/confirm_bg.png' ) no-repeat 0 0;
	font-size: 20px;
	font-family: PressStart2PRegular, sans-serif;
	color: #ffffff;
	z-index: 3;
}

/* ------ Wall/Create/Attack Menus ------ */

#wallMenu, #createMenu {
	width: 182px;
	margin: 0 auto;
	font-size: 12px;
	font-family: PressStart2PRegular, sans-serif;
	color: #485D5D;
	text-align: center;
}

#createMenu {
	padding-top: 26px;
	position: relative;
}

.bkGroup {
	clear: both;
	margin-bottom: 20px;
}
.bkGroup a {
	width: 32px; height: 32px;
	margin: 3px 0;
	display: inline-block;
	border: 2px solid #ffffff;
}
.bkGroup a:hover, .bkGroup a.active {
	border-color: #ff0000;
}

#attackMenu, #itemMenu {
	font-size: 12px;
	font-family: PressStart2PRegular, sans-serif;
	color: #485D5D;
}

#save, #load {
	z-index: 4;
}

.loadArea {
	width: 100%; height: 200px;
	margin-bottom: 20px;
}

.page_navigation {
	width: 182px;
	position: absolute;
	top: 4px; left: 0;
	text-align: center;	
}
.page_navigation a {
	color: #485D5D;
	margin: 0 10px;
}

.active_page {
	text-decoration: underline;
}

/* ------ Wall/Terrain Type ------ */

.fence {
	background: transparent url( '../images/fence_alt.png' ) no-repeat 0 0;
	font-size: 0;
}

.source {
	background: transparent url( '../images/holek.png' ) no-repeat 0 0;
	font-size: 0;
}

.destination {	
	font-size: 0;
	background: transparent url( '../images/whitey.png' ) no-repeat 0 0;
	background-size: 128px 128px;
}

.grassBk {
	background: transparent url( '../images/grass.png' ) no-repeat 0 0;
	font-size: 0;
}

.waterBk {
	background: transparent url( '../images/watergrass.png' ) no-repeat 0 0;
	font-size: 0;
}

/* ------ Menu Screens ------ */

.menu {
	width: 100%; height: 100%;
	background-color: #95A9A9;
	position: absolute;
	top: 0; left: 0;
	text-align: center;
}

.menuTransparent {
	width: 100%; height: 100%;
	background-color: rgba(149, 169, 169, 0.6);
	position: absolute;
	top: 0; left: 0;
	text-align: center;
}
.menuTransparent h2 {
	color: #ffffff;
}

.menuHolder {
	width: 260px;
	padding: 20px;
	margin: 50px auto;
	background-color: #485D5D;
	border: 1px solid #485D5D;
	border-radius: 10px;
	color: #ffffff;
	font-family: PressStart2PRegular, sans-serif;
	font-size: 12px;
}
.menuHolder p {
	line-height: 24px;
}

.largeMenuHolder {
	width: 600px;
	padding: 20px;
	margin: 50px auto;
	background-color: #485D5D;
	border: 1px solid #485D5D;
	border-radius: 10px;
	color: #ffffff;
	font-family: PressStart2PRegular, sans-serif;
	font-size: 12px;
}
.largeMenuHolder p {
	line-height: 24px;
	text-align: left;
	margin-bottom: 20px;
}

#helpPages {
	position: relative;
	padding-bottom: 30px;
	min-height: 340px;
}

.page_navigation_alt {
	width: 600px;
	position: absolute;
	bottom: 10px; left: 0;
	text-align: center;
}
.page_navigation_alt a {
	color: #ffffff;
	margin: 0 10px;
}
.page_navigation_alt a.no_more {
	visibility: hidden;
}

#mainMenu {
	z-index: 3;
}
#mainMenu p {
	color: #485D5D;
}

#play,
#pause,
#options,
#help {
	z-index: 4;
}

#audioSlider {
	width: 198px; height: 14px;
	background: transparent url( '../images/slider_default.png' ) no-repeat -5px -14px;
	margin: 20px auto;
	position: relative;
	text-align: left;
}
a.ui-slider-handle {
	width: 12px; height: 24px;
	background: transparent url( '../images/slider_default.png' ) no-repeat -5px -42px;
	position: absolute;
	z-index: 2;
	margin: -6px;
	top: -2px;
}

#optionsForm {
	margin: 30px auto;
}

#gameover {
	z-index: 4;
}

/* ------ Debug ------ */
#debug {
	width: 1400px;
	margin-top: 30px;
	text-align: right;
	font-size: 10px;
	color: #ff0000;
}

#debug table {
	width: 100%;
	border: 1px solid #000000;
	border-collapse: collapse;
}

#debug td {
	padding: 3px;
	border: 1px solid #000000;
}

#debug span {
	color: #000000;
}
